<% past_events = events.where("date < :today", today: Date.today) %>
<% upcoming_events = events.where("date >= :today", today: Date.today) %>

<% if upcoming_events.any? %>
  <h3>Upcoming events</h3>
  <%= render 'attended_events_table', load_events: upcoming_events %>
<% end %>
<br />
<% if past_events.any? %>
  <h3>Past events</h3>
  <%= render 'attended_events_table', load_events: past_events %>
<% end %>
